{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="card text-white bg-dark text-center col-md-8 col-lg-6">
        <div class="card-body">
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <form class="password_reset text-center border border-light" method="POST"
                  action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                <div class="md-form my-5 col-10 col-lg-7 offset-1 offset-lg-2">
                    <i class="fas fa-envelope prefix grey-text mr-3"></i>
                    {{ form.email }}
                    <label data-error="wrong" data-success="right" for="{{ form.email.id_for_label }}">{% trans "Your email" %}</label>
                </div>
                <div class="text-center mb-3">
                    <button type="submit" class="primaryAction btn blue-gradient btn-rounded z-depth-1a">{% trans "Reset My Password" %}</button>
                </div>
            </form>

            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}
