{% extends "base.html" %} {% load i18n static %}
{% block title %}{% trans 'О компании' %}{% endblock%}
{% block wrapper %}
    <section class="section swatch-cold-yellow section-nopadding" style="height: 220px;">
            <div data-jarallax data-speed="0.2" class="jarallax mh-100">
                <img src="{{ STATIC_URL }}images/design/section-bg/c2.jpg" class="jarallax-img ">
                <div class="mask flex-center rgba-black-strong">
                    <header class="section-header text-center underline pt-5">
                        <p class="headline super hairline text-center mt-5">{% trans 'О КОМПАНИИ' %}</p>
                    </header>
                </div>
            </div>
        </section>
    <section class="section section-short swatch-cold-yellow">
        <div class="container">
            <div class="row justify-content-center">
                <div class="card text-white bg-dark text-center">
                    <div class="card-body text-white">
                        {% blocktrans %}
                            <p class="card-text text-white">Слава, азарт, желание разбогатеть эти факторы являются двигателем бизнеса уже несколько сотен лет. Миллиарды долларов ежедневно крутятся внутри игорного бизнеса, всевозможные казино и лотереи привлекают людей своей игривостью и авантюризмом. Первое казино в Европе было создано в 1638 году в Венеции, это был игорный дом Ридитто построенный по приказу правительства в здании церкви, уже тогда множество людей проявляло тщетные попытки разбогатеть, играя в рулетку.</p>
                            <p class="card-text text-white">Возможно даже и вы пробовали свою удачу в казино и скорей всего у вас ничего из этого не вышло. В 2012 году на встрече в отеле SKYLOFT в Лас Вегас владельцы трех крупных казино заключили альянс по созданию on-line игорной индустрии. Суть этого альянса заключалась в создании целой сети on-line казино и лотереи.</p>
                            <p class="card-text text-white">Casino Investment являются совладельцами этого бизнеса с 2015 года имея 24% акций альянса. Наша роль в альянсе привлечение инвестиций для создания большего количества казино и продвижения их на рынке.</p>
                            <p class="card-text text-white">С данной миссией, мы создали площадку Casino Investment, первая в мире мульти-маркетинговая финансовая платформа, состоящая из трех основных действий.</p>
                            <h6 class="font-weight-bold amber-text">Привлечение инвестиций, Обеспечение диверсификации, Открытие и продвижение проектов</h6>
                            <p class="card-text text-white">Финансовые менеджеры Casino Investment создали систему, позволяющую инвестировать без рисков. Данная система уникальна и крайне проста.</p>
                            <p class="card-text text-white">Инвесторы, вкладывая деньги получают ежедневную прибыль, наши специалисты распределяют инвестиционный фонд по проектам, 58% идут в уже работающие проекты для увеличения фонда Джек пота и привлечения большего количества игроков, 12% инвестиций распределятся между проектами находящихся на финальной стадии подготовки и выпуску на рынок, 30% фонда распределяются между стартапами по мере их актуальности.</p>
                            <p class="card-text text-white">Что бы исключить все риски, Casino Investment ежедневно получает часть прибыли от проектов для прокрутки на бирже. Наши трейдеры увеличивают прибыль на 35% после чего часть прибыли мы выплачиваем нашим инвесторам.</p>
                            <hr>
                            <h6 class="font-weight-bold amber-text">Таким образом Casino Investment обеспечивает своим инвесторам качественный инвестиционный продукт, без издержек и рисков.</h6>
                        {% endblocktrans %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}