{% extends 'base_addons.html' %}
{% load staticfiles i18n %}
{% block head_title %}{% trans "Пополнить баланс" %}{% endblock %}
{% block content %}
    <div class="card text-white bg-dark text-center mt-3">
    <div class="card-body">
    <form role="form" method="POST" action="" name="payment" id="merchant-form">
        <h3>{% trans "Сумма пополнения" %}</h3>
        <input type="number" min="1" max="100000" name="amount" value="{{ default_amount }}" placeholder="USD">
        {{ form }}
        <br><button type="submit" class="btn pre-footer-btn mt-3" id="pay">{% trans "Пополнить" %}</button>
        {% csrf_token %}
    </form>
    </div>
</div>
{% endblock %}
{% block exjs %}
    <script>
        document.getElementById("pay").onclick = function(){redrct()};
        function redrct() {if($("#id_ik_co_id").val().length>0){
                $("#merchant-form").attr('action', 'http://www.free-kassa.ru/merchant/cash.php').submit();
            }
        }
    </script>
    {% endblock %}

