{% extends "base.html" %} {% load i18n static %}
{% block title %}{% trans 'Правила' %}{% endblock%}
{% block wrapper %}
    <section class="section swatch-cold-yellow section-nopadding" style="height: 220px;">
            <div data-jarallax data-speed="0.2" class="jarallax mh-100">
                <img src="{{ STATIC_URL }}images/design/section-bg/c2.jpg" class="jarallax-img ">
                <div class="mask flex-center rgba-black-strong">
                    <header class="section-header text-center underline pt-5">
                        <p class="headline super hairline text-center mt-5">{% trans 'TERMS AND AGREEMENTS' %}</p>
                    </header>
                </div>
            </div>
        </section>
    <section class="section section-short swatch-cold-yellow">
        <div class="container">
            <div class="row justify-content-center">
                <div class="card text-white bg-dark text-center">
                    <div class="card-body">

                            <p class="card-text text-white">{% blocktrans %}Using Casino Investment program you agree to the terms of use, privacy policies, as well as the principles and rules of use, even if you have not read them. If you do not agree with any of these contracts, you should not use our web-site.{% endblocktrans %}</p>
                            <p class="card-text text-white">{% blocktrans %}Casino Investment reserves the right to amend and / or modify any of the rules and conditions of use. Casino Investment reserves the right to change this agreement from time to time, by notice in a few days all users of a web-site. Your subsequent use of the Site constitutes your acceptance of such changes and / or additions. It is recommended to read the terms of use and privacy policy as often as possible.{% endblocktrans %}</p>
                            <hr>
                            <h6 class="font-weight-bold yellow-text text-left well">{% trans "COPYRIGHT" %}</h6>
                            <p class="card-text text-white">{% blocktrans %}Design, text, graphics, logos, button icons, images, audio and video content, their selection and arrangement, and all software on the website are protected by copyright (c) 2018 Casino Investment .{% endblocktrans %}</p>
                            <p class="card-text text-white">{% blocktrans %}Compilation (collection, arrangement, and assembly) of all content on the site is the exclusive property of Casino Investment (the C) and is protected by international copyright laws.{% endblocktrans %}</p>
                            <hr>
                            <h6 class="font-weight-bold yellow-text text-left well">{% trans "PROTECTION AGAINST FRAUD" %}</h6>
                            <p class="card-text text-white">{% blocktrans %}As part of our acceptance of payment processing procedures, the company's specialists review all transactions for fraud or other unauthorized or illegal activities. The Company reserves the right to refuse to process a payment because of suspicions of fraud, unauthorized or illegal activities. Such measures have been taken in order to protect our customers as well as companies from fraud or other illegal activities.{% endblocktrans %}</p>
                            <p class="card-text text-white">{% blocktrans %}The company Casino Investment is not responsible for any loss due to sharing passwords or identity theft. It is strongly recommended to ensure maximum security of your personal data needed for authentication and access to the personal account and settings. Do not give your personal information to third parties.{% endblocktrans %}</p>
                            <hr>
                            <h6 class="font-weight-bold yellow-text text-left well">{% trans "GENERAL PROVISIONS" %}</h6>
                            <p class="card-text text-white">{% blocktrans %}By agreeing to the Terms of Use, you automatically confirm that you are of legal age in the country of which you are using this site and do not violate any laws of your state. All materials and information provided by the Casino Investment intended to be used only for personal, educational or informational purposes only.{% endblocktrans %}</p>
                            <p class="card-text text-white">{% blocktrans %}You assume the obligation to pay tax on the profits, levied according to the legislation of the United Kingdom. Profits earned in the territory of that State, is liable to tax, irrespective of the place of residence of the formal, the actual residence of the person or the country in which the company is registered.{% endblocktrans %}</p>
                            <p class="card-text text-white">{% blocktrans %}Any financial transactions, designed according to the contract are definitive and irreversible. In order to prevent fraud and cheating, it is expressly prohibited the creation of joint payment system for different users. If such abuses are discovered, the company Casino Investment reserves the right to terminate all affiliate of charge and limited functionality for such accounts and accounts.{% endblocktrans %}</p>
                            <hr>
                            <h6 class="font-weight-bold amber-text">{% blocktrans %}Any breach of this agreement as a whole or individual items can result in permanent account suspension.{% endblocktrans %}</h6>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}